*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#navbar {
    width: 100%;
    background: #111;
    color: #eee;
    height: 80px;
    position: fixed;
    font-size: 1rem;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    font-size: 1.2rem; 
}

#navbar-items {
    display: flex;
    list-style: none;
}

#navbar-items li{
    padding: 10px;
}

nav a {
    color: #eee;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    transition: 1s;
}

#navbar a:hover {
    color: #ed820e;
}

/*Showcase*/
#showcase{
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #eee;
    background: url('banner/banner02.jpg') no-repeat center center/cover;
    /*Overlay*/
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
}

#showcase-container {
    text-align: justify;
}

#showcase-container h2 {
    font-size: 2.5rem;
    margin-left: 2rem;
}

#showcase-container p{
    font-size: 1.2rem;
    width: 500px;
    padding: 2px 0;
    margin-left: 2rem;
    text-align: justify;
} 

.btn {
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #ed820e;
    color: #eee;
    border-radius: 5px;
    transition: background 1s ease ;
    margin-top: 15px;
    text-decoration: none;
    margin-left: 2rem;
}

.btn:hover {
    cursor: pointer;
    background: #f09819;
}

.headline {
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
    letter-spacing: 2px;
}

/* Principal */
.welcome {
    font-size: 1.6rem;
    text-align: center;
    color: #888888;
}

.detalhe{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigode{
    height: 42px;
    width: 42px;
}

.linha{
    border-bottom: #111 1px solid;
    width: 100px;
    justify-content: center;
    margin: 1rem;
}


#principal {
    padding: 3em 0;
	max-width: 940px;
    width: 100%;
	margin: 0 auto;
    text-align: center;
}

main {
    /* background: #eee; */
    background: #F5F2EB;
}

#principal p {
    padding: 7px;
    color: #888888;
}

strong {
    color: #ed820e;
}

/* Profissionais */
.container-profissionais {
    /* background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%); */
    background: #222;
    color: #eee;
}

.container-prof{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.prof {
    margin: 1rem;
}

.prof img{
    border-radius: 50%;
    height: 250px;
    margin: 1rem;
    border: #ed820e 2px solid;
    padding: .1rem;
}

/*Serviços*/
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

.card-project{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    max-width: 270px;
    width: 100%;
    transition: all 0.3s ease-out;
    border-radius: 15px;
    text-align: justify;
}

.card-project h4 {
    text-align: center;
    margin: 1rem 0;
}

.card-project p {
    text-align: center;
}

.btn-project{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    padding: .6rem 2rem;
    border-radius: 15px;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    color: #e5e5e5;
    width: 60%;
    border-style: none;
    cursor: pointer;
    margin-top: 1rem;
    transition: 1s; 
}

.btn-project:hover{
    background: #ed820e;
}

a{
    text-decoration: none;
}

.preco {
    font-weight: bold;
    color: #ed820e;
    margin-top: 1rem;
    text-align: center;
}

.card-project-img{
    height: 200px;
    width: 200px;
    border-radius: 15px;
    margin: 1rem auto;
}

/*Galeria*/
.container-galery{
    background: #222;
    color: #eee;
}

.img{
    height: 250px;
    width: 250px;
}

.box-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img{
    margin: .5rem;
    border-radius: 5px;
    transition: 1s;
}

/* Agendamento */
.container-agendamento {
    display: flex;
    justify-content: center;
    margin: 2rem;
    flex-wrap: wrap;
}

.box-hour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 150px;
    height: 100px;
    margin: .5rem;
    background: #222;
    color: #eee;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ed820e;
}

.today{
    font-weight: bolder;
    font-size: larger;
    margin-bottom: .5rem;
}

/* Formulario */
#estabelecimento {
    display: flex;
    width: 100%;
    background: #222;
}

.container-contato {
    display: flex;
    background: #222;
    color: #eee;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.contato a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #eee;
    justify-content: center;
}

.cont{
    transition: 1s;
}

.cont:hover{
    color: #ed820e;
}

.imagens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 64px;
}

.contato{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 62%;
}

.icon{
    width: 24px;
    height: 24px;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

/* Mapa */
#mapa {
    background: #222;
    color: #eee;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.mapa-conteudo {
    width: 100%;
    margin: 0 auto;
    margin-top: 5rem;
    width: 550px;   
}

/*Footer*/
#footer {
    background: #222;
    text-align: center;
    padding: 1rem;
    color: #eee;
}

/* MOBILE */
@media screen and (max-width: 768px) {
    #principal, .conteudo-beneficios, .mapa-conteudo{
		width: 100%;
        padding: 0 15px;
	}

    .logo {
        margin-top: 1.2rem;
    }

    #navbar {
        height: 130px;
        text-align: center;
    }

    #navbar-container {
        display: block;
    }

    #navbar-container ul{
        display: flex;
        margin-top: 0.6rem;
        text-align: center;
        justify-content: center;
    }

    #navbar-items li {
        margin-top: 1rem;
        padding: 0 1rem;
    }

    #navbar-items a {
        font-size: 1.2rem; 
        padding: 0 0.3rem; 
    }

    #navbar-items li:nth-child(2){
        border-left: 2px #fff solid;
        border-right: 2px #fff solid;
    }

    #navbar-items{
        width: 100%;
        display: block;
    }

    .headline, #contato-titulo{
        font-size: 1rem;
    }

    .paragrafo {
        margin: 20px auto;
        text-align: center;
    }

    #showcase-container p{
        width: 80%;
        margin: auto;
    }

    #showcase-container{
        margin-top: 100px;
    }

    .conteudo-beneficios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        margin: auto;
    }

    .lista-beneficios{
        width: auto;
        margin: auto;
        display: block;
    }

    .imagem-beneficios{
        margin: auto;
        width: 50%;
        margin-bottom: 20px;
    }

    .itens:last-child {
        margin-bottom: 15px;
    }

    .four, .five, .six{
        display: none;
    }

    /*Produtos*/
    .imgp {
        height: 150px;
        margin: 0 auto;
        display: flex;
    }

    #cortes ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #cortes ul li{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #cortes {
        padding-bottom: 15px;
    }

    .produtos{
        width: 50%;
        border: #222 1px solid;
        border-radius: 10px;
        margin: 15px;
        padding: 15px;
    }

    .desc {
        font-weight: bold;
    }

    .preco {
        font-weight: bold;
        color: #ed820e;
        margin-bottom: 10px;
    }

    /*Contato*/
    #contato {
        display: block;
    }

    .info{
       margin-top: 0;
    }

    #estabelecimento {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
    #mapa{
        width: 100%;
    }

    .mapa-conteudo{
        width: 100%;
        margin: 1rem 0;
    }

    .contato{
        display: flex;
        flex-direction: column;
        margin: auto;
        height: 270px;
        width: 100%; 
        margin: 0;
    }

    .container-contato{
        width: 100%;
        height: 280px;
    }    
}

@media screen and (max-width: 383px){
    #principal, .conteudo-beneficios{
		width: auto;
        padding: 0 15px;
	}

    .logo, #contato-titulo, .headline {
        font-size: 1.2rem;
    }

    .logo {
        margin-top: 1.6rem;
    }

    .produtos{
        width: 70%;
        border: #222 1px solid;
        border-radius: 10px;
        margin: 15px;
        padding: 15px;
    }

    #navbar-items a{
        display: block;
        font-size: 1rem;
    }

    .headline {
        margin: 0 auto;
    }

    .enviar{
        padding: 15px 25px;
        width: auto;
    }

    #mapa {
        padding: 0;
    }

    .mapa-conteudo {
        width: 100%;
        padding-bottom: 15px;
    }

    #navbar{
        width: 100%;
    }

    .imgp {
        height: 150px;
        margin: 0 auto;
        display: flex;
    }

    .paragrafo, #footer{
        font-size: 0.8rem;
    }

    td {    
       padding: 1rem 1.4rem;       
    }
}