*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    background: #111111;
    color: #eee;
    height: 60px;
    position: fixed;
    font-size: 1rem;
    z-index: 1000;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    font-size: 1.2rem; 
}

#navbar-items {
    display: flex;
    list-style: none;
}

#navbar-items li{
    padding: 10px;
}

nav a {
    color: #eee;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    position: relative;
}

.navbar a:hover {
    color: #ed820e;
    transition: 1s ease-in-out;
}

/*Hamburguer*/
.hamburguer {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #eee;
    cursor: pointer;
}

.hamburguer::before,
.hamburguer::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #eee;
    margin-top: 5px;
    position: relative;
}


/*Showcase*/
#showcase{
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #eee;
    background: url('/assets/img/banner/banner02n.webp') no-repeat center center/cover;
    /*Overlay*/
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
}

#showcase-container {
    text-align: left;
}

#showcase-container h2 {
    font-size: 2.5rem;
    margin-left: 2rem;
    color: #ed820e;
    font-weight: bold;
}

#showcase-container p{
    font-size: 1.2rem;
    width: 450px;
    padding: 2px 0;
    margin-left: 2rem;
    text-align: left;
} 

#showcase-container a {
    text-transform: uppercase;
}

.btn {
    display: flex;
    padding: 1rem 1rem;
    background: #ed820e;
    color: #111;
    font-weight: bold;
    border-radius: 5px;
    transition: background 1s ease ;
    margin-top: 1rem;
    text-decoration: none;
    margin-left: 2rem;
    width: 300px;
    justify-content: center;
}

.btn:hover {
    cursor: pointer;
    background: #f09819;
}

.headline {
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1rem;
    letter-spacing: 2px;
}

.orange{
    color: #ed820e;
}


/* Principal */
.welcome {
    font-size: 1.6rem;
    text-align: center;
    color: #888888;
}

#principal {
    padding: 3em 0;
	max-width: 940px;
    width: 100%;
	margin: 0 auto;
    text-align: left;
}

.esconder {
    visibility: hidden;
}

main {
    /* background: #eee; */
    background: #F5F2EB;
}

#principal p {
    padding: 7px;
    color: #111;
}

strong {
    color: #ed820e;
}

/* Profissionais */
.container-profissionais {
    background: #222;
    color: #eee;
}

.container-prof{
    display: flex;
    flex-wrap: wrap;     
    justify-content: space-around;
    text-align: center;
}

.prof {
    margin: 1rem;
}

.prof img{
    border-radius: 50%;
    height: 250px;
    border: #ed820e 2px solid;
    padding: .1rem;
}

/*Serviços*/
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: justify;
    justify-items: center;
    padding: 1rem;
}

.card-project{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.25);
    padding: 30px;
    margin: 0.5rem;
    max-width: 270px;
    width: 100%;
    transition: all 0.3s ease-out;
    border-radius: 15px;
    text-align: justify;
}

.card-project h4 {
    text-align: center;
    margin: 1rem 0;
}

.card-project p {
    text-align: center;
}

.btn-project{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    padding: .6rem 2rem;
    border-radius: 10px;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    color: #e5e5e5;
    width: 90%;
    border-style: none;
    cursor: pointer;
    margin-top: 1rem;
    transition: 1s; 
}

.btn-project, a{
    text-transform: uppercase;
}

.btn-project:hover{
    background: #ed820e;
}

a{
    text-decoration: none;
}

.preco {
    font-weight: bold;
    color: #ed820e;
    margin-top: 1rem;
    text-align: center;
}

.card-project-img{
    height: 200px;
    width: 200px;
    border-radius: 15px;
    margin: 1rem auto;
}

/*Galeria*/
.container-galery{
    background: #222;
    color: #eee;
}

.img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin: .5rem;
    border-radius: 5px;
    transition: 1s;
}

.box-img{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    align-items: center;
    margin: auto;
    justify-content: center;
}

/* Agendamento */
.detalhe{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigode{
    height: 64px;
    width: 64px;
}

.linha{
    border-bottom: #111 1px solid;
    width: 100px;
    justify-content: center;
    margin: 1rem;
}

.container-agendamento {
    display: flex;
    justify-content: center;
    margin: 2rem;
    flex-wrap: wrap;
}

.box-hour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 150px;
    height: 100px;
    margin: .5rem;
    background: #222;
    color: #eee;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ed820e;
}

.today{
    font-weight: bolder;
    font-size: larger;
    margin-bottom: .5rem;
}

/* Contato */
#estabelecimento {
    display: flex;
    width: 100%;
    background: #222;
}

.container-contato {
    display: flex;
    background: #222;
    color: #eee;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.contato a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #eee;
    justify-content: center;
}

.cont{
    transition: 1s;
}

.cont:hover{
    color: #ed820e;
}

.imagens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 64px;
}

.contato{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 62%;
}

.icon{
    width: 24px;
    height: 24px;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

/* Mapa */
#mapa {
    background: #222;
    color: #eee;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.mapa-conteudo {
    width: 100%;
    margin: 0 auto;
    margin-top: 5rem;
    width: 550px;   
}

/*Footer*/
#footer {
    background: #222;
    text-align: center;
    padding: 1rem;
    color: #eee;
}

/* MOBILE */
@media screen and (max-width: 1130px){
    #estabelecimento {
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }


    .mapa-conteudo{
        margin: 0;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
    }

    .container-contato{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        justify-content: flex-start;

    }
    .container-contato img{
        margin: 0.6rem;
    }
  
    #mapa{
        /* width: 100%; */
        margin: 0;
        padding: 0;
    }

}

@media screen and (max-width: 768px) {
    #principal, .conteudo-beneficios, .mapa-conteudo{
		width: 100%;
        /* padding: 0 15px; */
        padding: 1.5rem;
	}

    .cards{
        justify-items: center;
        justify-content: center;
    }

    .mapa-conteudo{
        margin: 0;
    }

    .logo {
        margin-top: 1.2rem;
    }

    .navbar {
        height: 130px;
        text-align: center;
    }

    #navbar-container {
        display: block;
    }

    #navbar-container ul{
        display: flex;
        margin-top: 0.6rem;
        text-align: center;
        justify-content: center;
    }

    #navbar-items li {
        margin-top: 1rem;
        padding: 0 1rem;
    }

    #navbar-items a {
        font-size: 1.2rem; 
        padding: 0 0.3rem; 
    }

    #navbar-items li:nth-child(2){
        border-left: 2px #fff solid;
        border-right: 2px #fff solid;
    }

    #navbar-items li:nth-child(3){
        border-right: 2px #fff solid;
    }

    #navbar-items{
        width: 100%;
        display: block;
    }

    .headline, #contato-titulo{
        font-size: 1rem;
    }

    .paragrafo {
        margin: 20px auto;
        text-align: center;
    }

    #showcase-container p{
        width: 80%;
    }

    #showcase-container{
        margin-top: 100px;
    }

    .conteudo-beneficios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        margin: auto;
    }


    .container-prof{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .prof img{
        height: 200px;
        width: 200px;
    }

    .box-img{
        flex-wrap: wrap;
        justify-content: center;
    }

    .box-img img {
        height: 200px;
        width: 200px;
    }

    .container-agendamento{
        display: flex;
        margin: 1rem;
        justify-content: center;
    }

    #estabelecimento {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
    #mapa{
        width: 100%;
    }

    .mapa-conteudo{
        width: 100%;
        margin: 1rem 0;
    }

    .container-contato{
        width: 100%;
        display: grid;
        grid-template-columns: 25% 75%;
        margin: auto;
        height: 280px;
    }    

    .imagens{
        align-items: flex-end;
        margin-right: 1rem;
    }

    .contato{
        display: grid;
        justify-content: flex-start;
        padding: 0;
    }
    
}

@media screen and (max-width: 750px){
    #navbar-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        justify-items: flex-end;
        margin: 0;
        width: 95%;
    }

    .logo {
      margin: auto;
      align-items: start;
      justify-content: start;
    
    }

    .navbar{
        height: 70px;
    }

    .hamburguer{
        display: block;
        z-index: 1;
    }

    #navbar-items{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        clip-path: circle(100px at 90% -15%);
        background: #111;
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    #navbar-items li:nth-child(2) {
       border: none;
    }

    #navbar-items li:nth-child(3){
        border: none;
    }

    #navbar-items a {
        font-size: 1.5rem;
        opacity: 0;
        
    }

    #navbar-items li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    #navbar-items li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    #navbar-items li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    #navbar-items li:nth-child(4) a {
        transition: 0.5s 0.8s;
    }

    .navbar.active #navbar-items a {
        opacity: 1;
    }

    .navbar.active .hamburguer{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .navbar.active .hamburguer::before{
        transform: rotate(135deg);
    }

    .navbar.active .hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    .navbar.active #navbar-items{
        clip-path: circle(1500px);
        pointer-events: all;
    }
}

@media screen and (max-width: 480px){
    #principal, .conteudo-beneficios{
		width: auto;
        padding: 0 15px;
	}

    .btn{
        margin-top: 1rem;
    }

    #showcase-container p{
        text-align: start;
        font-size: medium;    
    }

    .container-prof{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .prof img{
        height: 100px;
        width: 100px;
    }

    .box-img{
        justify-content: center;
    }

    .box-img img {
        height: 150px;
        width: 150px;
    }

    .container-agendamento{
        display: flex;
        margin: 1rem;
        justify-content: center;
    }

    .logo, #contato-titulo, .headline {
        font-size: 1rem;
    }

    .logo {
        margin-top: 1.6rem;
    }

    #navbar-items a{
        display: block;
        font-size: 1rem;
    }

    .headline {
        margin: 0 auto;
    }

    #mapa {
        padding: 0;
    }

    .mapa-conteudo {
        width: 100%;
        padding-bottom: 15px;
    }

    .navbar{
        width: 100%;
    }

    #footer{
        font-size: 0.8rem;
    }
}